<div class='prefecture-btn'>
<div class=explain>旅行先・一緒に行く人の投稿</div>
     <%= link_to image_tag('add.png',width: 50) , new_prefecture_path %>
</div>

<div class = "prefectures">
   <% current_user.prefectures.each do |prefecture| %>
      <div class="prefecture-name">
       <%= link_to image_tag('bag.png',width: 80), prefecture_places_path(prefecture), class: "prefecture-bag" %>
       <%= link_to prefecture.name, prefecture_places_path(prefecture), class: "prefecture-title"%>
       <div class = "trash">
       <%= link_to image_tag('trash.png', width: 20), prefecture_path(prefecture), method: :delete %>
      </div>
      </div>
  <% end %>
</div>