<div class="prefecture-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-prefecture">
    <a href="#">作成</a>
  </div>
</div>






<div class = "prefectures">
  <div class = "prefecture">
   <div class = "prefecture-name">
    <a href="#">techroom1</a>
  </div>
 </div>

<div class = "prefecture">
   <div class = "prefecture-name">
    <a href="#">techroom2</a>
  </div>
 </div>






</div>