<div class="prefecture-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-prefecture">
   <%= link_to "旅行フォルダを作成する", new_prefecture_path %>
  </div>
</div>
<div class = "prefectures">
  <% current_user.prefectures.each do |prefecture| %>
    <div class="prefecture">
      <div class="prefecture-name">
        <a href="#"><%= prefecture.name %></a>
      </div>
    </div>
  <% end %>
</div>

